body {
    background-color: #f6d62b;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
}
.logo {
    background-color: black;
    font-weight: bolder;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}
h1 {
    color: white;
}
.mr-t5 {
    margin-top: 5%;
}
.banner {
    font-size: 400%;
    text-shadow: 2px 2px red;
    color: white;
}
p {
    text-shadow: 1px 1px red;
}
.bolder {
    font-weight: bolder;
}
.active {
    text-decoration: underline 3px black;
}
.active:hover {
    text-decoration: underline 3px black;
}
body {
    background-color: #f6d62b;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
}
.logo {
    background-color: black;
    font-weight: bolder;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}
h1 {
    color: white;
}
.mr-t5 {
    margin-top: 5%;
} 
h3 { 
    border-bottom: 1rem double white; 
    float: left;
    color: white;
    font-weight: bolder;
}
.clear {
    clear: both;
}
.card {
    background-color: black;
    color: white;
}
h4 {
    font-weight: bolder;
}
.active {
    text-decoration: underline 3px black;
}
.active:hover {
    text-decoration: underline 3px black;
}
body {
    background-color: #f6d62b;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
}
.logo {
    background-color: black;
    font-weight: bolder;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}
h1 {
    color: white;
}
.mr-t5 {
    margin-top: 5%;
} 
h3 { 
    border-bottom: 1rem double white; 
    float: left;
    color: white;
    font-weight: bolder;
}
.clear {
    clear: both;
}
.text {
    font-weight: bolder;
}
iframe {
    height: 100%;
    width: 100%;
}
.active {
    text-decoration: underline 3px black;
}
.active:hover {
    text-decoration: underline 3px black;
}
body {
    background-color: #f6d62b;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
}
.logo {
    background-color: black;
    font-weight: bolder;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}
h1 {
    color: white;
}
.mr-t5 {
    margin-top: 5%;
} 
h3 { 
    border-bottom: 1rem double white; 
    float: left;
    color: white;
    font-weight: bolder;
}
.clear {
    clear: both;
}
.text {
    font-weight: bolder;
}
p {
    font-weight: bolder;
    font-size: large;
}
hr {
    height: 5px;
    color: white;
    background-color: white;
    border-width: 0;
}
.active {
    text-decoration: underline 3px black;
}
.active:hover {
    text-decoration: underline 3px black;
}
body {
    background-color: #f6d62b;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
}
.logo {
    background-color: black;
    font-weight: bolder;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}
h1 {
    color: white;
}
.mr-t5 {
    margin-top: 5%;
} 
h3 { 
    border-bottom: 1rem double white; 
    float: left;
    color: white;
    font-weight: bolder;
}
.clear {
    clear: both;
}
.text {
    font-weight: bolder;
}
p, h4 {
    font-weight: bolder;
    font-size: large;
}
hr {
    height: 5px;
    color: white;
    background-color: white;
    border-width: 0;
}
h4 {
    font-size: xx-large;
}
.active {
    text-decoration: underline 3px black;
}
.active:hover {
    text-decoration: underline 3px black;
}